
.top1{
  padding-bottom: 100;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(220,220,220);
}

.column1 {
  float: left;
  width: 50%;
  margin-top: 200px;
  margin-bottom: 200px;
}

.top1 h5 {
  color: orange;
  line-height: 2;
}

p {
  font-size: 15px;
  line-height: 2
}

.column2   {
  float: left;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 100px;

}

#alternative-text {
  margin-top: 175px;
}

.mid2 {
  margin: 50;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(220,220,220);
}

.mid3 h3 {    
  margin-top: 50px;
  margin-left: 40%;
  margin-bottom: 50px;

}

.anunciar-cards{
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(220,220,220);
}

.anunciar-card {
  float: left;
  width: 33%;
  text-align: justify;
  margin: 10px;

}

.card-images {
  height: 214;
  width: 340
}

.bottom4 {
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(220,220,220);
}

.bottom4 h3 {    
  margin-top: 50px;
  margin-left: 33%;
  margin-bottom: 50px;
}

.yt{
  margin-bottom: 50px;
}

.bottom5 h3 {    
  margin-top: 50px;
  margin-left: 31%;
  margin-bottom: 50px;
}


