.cachine h3 {

  margin-top: 50px;
  margin-bottom: 50px;
}

.cachine p {
  margin-top: 70%;
}

.cachine {
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(220,220,220);
}

.cachine a {
  margin-left: 35%;
}

.cachine-images {
  height: 547px;
  width: 547px;
  margin-top: 50px;
  margin-bottom: 50px
}

#table-right {
  margin-left: 10px;
}