.top {
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(220,220,220);
}

.top h1 {
  text-align: center;
  margin: 15px;
  font-family: "Lora";
}

p {
  font-size: 20px;
}

.top p {
  margin: 25px;
}

.bottom-parceiros p {
  text-align: right;
  margin: 20px;
}

.partner-images {
  height: 683px;
  width: 547px;
  margin-bottom: 100px;
}

#Bruno-Bou {
  margin-right: 8px;
}

#Bruno-Bou:hover {
  opacity: 0.3;
  color: white;
  transition: .5 ease;
 
}

#Estudio-Cachine:hover {
  opacity: 0.3;
  color: white;
  transition: .5 ease;
}