
.top {
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(220,220,220);
}

.top h1 {
  text-align: center;
  margin: 15px;
}

p {
  font-size: 20px;
}

.top p {
  margin: 25px;
}

.bottom p {
  text-align: right;
  margin: 20px;
}

#Cachine {
  height: 640px;
  width: 640px;
}