      <div class="dropdown bairros">
        <button class="btn btn-default dropdown-toggle" type="button" 
                id="dropdownMenu1" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="true">
          <i class="glyphicon glyphicon-cog"></i>
          <span class="caret"></span>
            Bairros
        </button>
        <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1">
          <li >
            <label>
              <input type="checkbox"> Cheese
            </label>
            </li>
          <li>
            <label>
              <input type="checkbox"> Pepperoni
            </label>
          </li>
          <li >
            <label>
              <input type="checkbox"> Peppers
            </label>
          </li>  
        </ul>
      </div>