<div>
  <div class="top1 container d-flex">
    <div class="column1">
      <h3><strong>Quero me tornar um Proprietário Parceiro da Oca Carioca</strong></h3>
      <h5>Transforme seu imóvel parado em um negócio lucrativo</h5>
      <p>Aqui, na Oca Carioca, você nos dá autorização para anunciar seu imóvel e recebe seu pagamento. 
      O resto do trabalho? Pode deixar com a gente! Fotos do local, criação do anúncio, definição de preço, prospecção e recepção dos hóspedes:
       cuidamos de todo o processo para que você não tenha nenhuma dor de cabeça!</p>
    </div>
    <div class= "column1">
      <p>Formulário</p>
    </div>
  </div>
  <div class="mid2 container d-flex">
    <div class="column2">
      <iframe width="445" height="347" src="https://www.youtube.com/embed/s8YKUszAFRQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column2" id="alternative-text">
      <h3><strong>E se tivesse uma alternativa que não me desse trabalho?</strong></h3>
      <p>Sabemos que o imóvel fechado gera muitos custos com condomínio e contas a pagar. Por isso, a Oca Carioca chegou no mercado para transformar o seu imóvel mal aproveitado em lucro para você e alegria para quem se hospedar.</p>
    </div>
  </div>
  <div class="mid3 container d-flex">
    <h3><strong>Beneficios</strong></h3>
  </div>
</div>