<div>
  <div class="top1 container d-flex">
    <div class="column1">
      <h3><strong>Quero me tornar um Proprietário Parceiro da Oca Carioca</strong></h3>
      <h5>Transforme seu imóvel parado em um negócio lucrativo</h5>
      <p>Aqui, na Oca Carioca, você nos dá autorização para anunciar seu imóvel e recebe seu pagamento. 
      O resto do trabalho? Pode deixar com a gente! Fotos do local, criação do anúncio, definição de preço, prospecção e recepção dos hóspedes:
       cuidamos de todo o processo para que você não tenha nenhuma dor de cabeça!</p>
    </div>
    <div class= "column1">
      <p>Formulário</p>
    </div>
  </div>
  <div class="mid2 container d-flex">
    <div class="column2">
      <iframe width="445" height="347" src="https://www.youtube.com/embed/s8YKUszAFRQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column2" id="alternative-text">
      <h3><strong>E se tivesse uma alternativa que não me desse trabalho?</strong></h3>
      <p>Sabemos que o imóvel fechado gera muitos custos com condomínio e contas a pagar. Por isso, a Oca Carioca chegou no mercado para transformar o seu imóvel mal aproveitado em lucro para você e alegria para quem se hospedar.</p>
    </div>
  </div>
  <div class="mid3 container">
    <div>
      <h3><strong>Beneficios</strong></h3>
    </div>
    <div class="anunciar-cards container d-flex justify-content-between">
      <div class="anunciar-card">
        <%=image_tag("dedicacao.png", class: "card-images ", size: "340x214")%>
        <h5><strong>1. DEDICAÇÃO</strong></h5>
        <p>Encontramos o hóspede adequado para alugar seu apartamento por temporada e cuidamos de todo processo de locação, desde o check-in (disponível 24 horas por dia) até o check-out, sem burocracia ou inconvenientes. Todo trabalho é por nossa conta!</p>
      </div>
      <div class="anunciar-card">
        <%=image_tag("facilidade.png", class: "card-images ", size: "340x214")%>
        <h5><strong>2. FACILIDADE</strong></h5>
        <p>Em nossa plataforma simples e intuitiva, você acompanha tudo online: perfil dos hóspedes, propostas, agendamento das visitas e contrato. Além disso, você e os hóspedes que estiverem em seu apartamento, poderão contar com nosso suporte, 24 horas por dia, 7 dias por semana para resolver qualquer problema ou dúvida.</p>
      </div>
      <div class="anunciar-card">
        <%=image_tag("garantia.png", class: "card-images ", size: "340x214")%>
        <h5><strong>3. GARANTIA</strong></h5>
        <p>Temos a melhor equipe de curadoria da cidade, que garante o seu imóvel do jeitinho que você deixou, após o check-out dos hóspedes. Prezamos pela transparência e confiança para que você tenha a segurança de que precisa ao anunciar o seu cantinho!</p>
      </div>
      
  </div>
</div>