<div>
  <div class="container d-flex">
    <div class="column1">
      <h3><strong>Quero me tornar um Proprietário Parceiro da Oca Carioca</strong></h3>
      <h5>Transforme seu imóvel parado em um negócio lucrativo</h5>
      <p>Aqui, na Oca Carioca, você nos dá autorização para anunciar seu imóvel e recebe seu pagamento. 
      O resto do trabalho? Pode deixar com a gente! Fotos do local, criação do anúncio, definição de preço, prospecção e recepção dos hóspedes:
       cuidamos de todo o processo para que você não tenha nenhuma dor de cabeça!</p>
    </div>
    <div class= "column1">
      <p>Teste 2</p>
    </div>
  </div>
  <div class="container d-flex">
    <div class=column2>
      <p>Teste 3</p>
    </div>
    <div class=column2>
      <p>Teste 4</p>
    </div>
  </div>
</div>