<div>
  <div class="top container ">
    <h1>PARCEIROS</h1>
    <p>Entendendo a importância de valorizar produtores da nossa comunidade, surgiu o Projeto <strong>PARCEIROS</strong>, com o intuito de fazer uma curadoria de artistas locais que possuem a identidade da <strong>OCA CARIOCA</strong>.</p>
  </div>

  <div class="cachine d-flex">

    <div class="m-3 column-cachine">
      <h3 id="teste"><strong>Estúdio Cachiné</strong></h3>
      <div>
        <%=image_tag("Cachine.jpg", class: "partner-images ") %>
      </div>
    </div>
    <div class="m-3 column-cachine">
      <div>
        <p class=><strong>Estúdio Cachiné</strong> é a marca de móveis de madeira feito pelo talentoso <strong>designer Tomás Breves</strong>. Peças elegantes feitas com madeira de garimpo em sua oficina que funciona na fazenda antiga de Miguel Pereira. Com seu olhar apurado Tomás transforma troncos de madeira em obras de arte.

Qual móvel do <strong>Estúdio Cachiné</strong> você já viu em um dos apartamentos da <strong>OCA CARIOCA?</strong>

Adquira uma peça de design icônica do Rio. Entre em contato pelo WhatsApp para mais detalhes.</p>
      <a a href="https://api.whatsapp.com/send/?phone=5521967018835&text=Ol%C3%A1%21+Voc%C3%AA+poderia+me+ajudar%3F&app_absent=0" class="btn btn-warning btn-large", id="button"><strong>VEM PRA OCA</strong></a>
      </div>  
    </div>
  </div>
  <div class="container d-flex">
    <div>
      <%=image_tag("Cachine/mesa-esq.jpg", class: "cachine-images")%>
    </div>
    <div id="Cachine">
      <%=image_tag("Cachine/mesa-dir.jpg", class: "cachine-images", id:"table-right") %>
    </div>
  </div>
</div>