<div class="container">
  <div class="column contacts container">
    <h4><strong>Como entrar em contato com a Oca Carioca?</strong></h4>
    <p class="text">Através do formulário ao lado. Mas, se preferir pode chamar a gente </p>
    <ul class="list">Whatsapp: <a href="https://api.whatsapp.com/send/?phone=5521967018835&text=Ol%C3%A1%21+Voc%C3%AA+poderia+me+ajudar%3F&app_absent=0">+55 21 9 6701 8835</a></ul>
    <ul clas="list"><a href="https://www.facebook.com/ocacariocabr">Facebook</a></ul>
    <p class="text">Estamos ligados 24 horas por dia, 7 dias por semana. Contamos com um time de especialistas preparados para atendê-lo, rapidamente.</p>
  </div>
  <div class= "column">
<!-- modify this form HTML and place wherever you want your form -->
    <form
     action="https://formspree.io/f/xpzoldbj"
    method="POST"
    >
    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xpzoldbj" method="post">
      <fieldset id="fs-frm-inputs">
      <label for="full-name">Nome</label>
      <input type="text" name="name" id="full-name" placeholder="Primeiro e ultimo nome" required="">
      <label for="phone">Telefone</label>
      <input type="text" name="phone" id="telefone" placeholder="(99) 99999-9999" required="">
      <label for="email-address">Email</label>
      <input type="email" name="_replyto" id="email-address" placeholder="email@exemplo.com" required="">
      <label for="message">Mensagem</label>
      <textarea rows="5" name="message" id="message" required=""></textarea>
      <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
      </fieldset>
      <input type="submit" value="Submit">

  <!-- your other form fields go here -->
    </form>
  </div>
</div>