<div>
  <div class="column">
    <h2><strong>Como entrar em contato com a Oca Carioca?</strong></h2>
    <p class="text">Através do formulário ao lado. Mas, se preferir pode chamar a gente </p>
    <ul class="list">Whatsapp: <a href="https://api.whatsapp.com/send/?phone=5521967018835&text=Ol%C3%A1%21+Voc%C3%AA+poderia+me+ajudar%3F&app_absent=0">+55 21 9 6701 8835</a></ul>
    <ul clas="list"><a href="https://www.facebook.com/ocacariocabr">Facebook</a></ul>
    <p class="text">Estamos ligados 24 horas por dia, 7 dias por semana. Contamos com um time de especialistas preparados para atendê-lo, rapidamente.</p>
  </div>
  <div class= "column">
   <p>Teste 2</p>
  </div>
</div>