<div>
	<div class="top container">
		<%=image_tag("Fundo-home.png", class: "top-image ")%>
		<p><strong>A opção perfeita para quem procura ou anuncia um imóvel na cidade maravilhosa</strong></p>
	</div>
	<div class="neighbourhoods"></div>
			<div class="card-category" id="buzios">
  			Buzios
			</div>
	</div>
</div>