<div>
  <div class="top">
  <h1>PARCEIROS</h1>
  <p>Entendendo a importância de valorizar produtores da nossa comunidade, surgiu o Projeto <strong>PARCEIROS</strong>, com o intuito de fazer uma curadoria de artistas locais que possuem a identidade da <strong>OCA CARIOCA</strong>.</p>
  </div>
  <div class="bottom">
    <p>Apresentamos aqui <strong>Bruno Bou, Estúdio Cachiné e Ceramo.</strong></p>
    <p>Aprecie e adquira peças exclusivas.</p>
    <div class="d-flex m-3">
      <div>
        <%=image_tag("Bruno_Bou.jpg", class: "partner-images ")%>
      </div>
      <div id="Cachine">
        <%=image_tag("Cachine.jpg", class: "partner-images ") %>
      </div>
    </div>
  </div>
</div>